<?js
    var self = this;
    docs.forEach(function(doc, i) {
?>

    <?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
        <?js if (i === 0 && title !== 'Index') { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>
        <?js= self.partial('mainpage.tmpl', doc) ?>

    <?js } else if (doc.kind === 'source') { ?>
            <h1 class="page-title"><?js= title ?></h1>
        <?js= self.partial('source.tmpl', doc) ?>
    <?js } else { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <section>
        
            <header>
                <?js if (!doc.longname || doc.kind !== 'module') { ?>
                    <h2><?js if (doc.ancestors && doc.ancestors.length) { ?>
                        <span class="ancestors"><?js= doc.ancestors.join('') ?></span>
                    <?js } ?>
                    <?js= doc.name ?>
                    <?js if (doc.variation) { ?>
                        <sup class="variation"><?js= doc.variation ?></sup>
                    <?js } ?></h2>
                    <?js if (doc.classdesc) { ?>
                        <div class="class-description"><?js= doc.classdesc ?></div>
                    <?js } ?>
                <?js } else if (doc.kind === 'module' && doc.modules) { ?>
                    <?js doc.modules.forEach(function(module) { ?>
                        <?js if (module.classdesc) { ?>
                            <div class="class-description"><?js= module.classdesc ?></div>
                        <?js } ?>
                    <?js }) ?>
                <?js } ?>
            </header>

            <article>
                <div class="container-overview">
                    <?js if (doc.kind === 'module' && doc.modules) { ?>
                        <?js var arrangement = self.resolveArrangement([ "container", "article", "overview", "module-with-modules"]); ?>
                        <?js var defaults = [ "description", "modules" ]; ?>
                        <?js= self.renderDoclet(self, arrangement, defaults, doc) ?>
                    <?js } else if (doc.kind === 'class') { ?>
                        <?js // This is basically a root level defer. I *could* put in something for this at the "renderDoclet" level, but it feels unnecessary. ?>
                        <?js= self.partial('method.tmpl', doc) ?>
                    <?js } else { ?>
                        <?js var arrangement = self.resolveArrangement([ "container", "article", "overview", "default" ]); ?>
                        <?js var defaults = [ "description", "details", "examples" ]; ?>
                        <?js= self.renderDoclet(self, arrangement, defaults, doc) ?>
                    <?js } ?>
                </div>

                <div class="container-body">
                    <?js var arrangement = self.resolveArrangement([ "container", "article", "body", "default" ]); ?>
                    <?js var defaults = [ "augments", "requires", "classes", "mixins", "namespaces", "members", "methods", "typedefs", "events" ]; 
                        
                        arrangement.order.forEach(function(entry) { 
                            if(entry === "*") { 
                                // Get all the default listings that weren't explicitly placed
                                var trimmed = defaults.reduce(function(acc, cur) {
                                    if(arrangement.order.indexOf(cur) === -1) {
                                        acc.push(cur);
                                    }
                                    return acc;
                                }, []);

                                trimmed.forEach(function(listing) { ?>
                                    <?js= self.scaffoldPartial(self, doc, arrangement, listing) ?>
                                <?js }); ?>
                            <?js } else { ?>
                                <?js= self.scaffoldPartial(self, doc, arrangement, entry) ?>
                            <?js } ?>
                    <?js }); ?>

                </div>
            </article>
        </section>
    <?js } ?>

<?js }); ?>
