<?js
var data = obj;
var self = this;
?>

<dl class="details">
	<?js var arrangement = self.resolveArrangement([ "details", "default" ]); ?>
	<?js var defaults = [ "properties", "version", "since", "inherits", "overrides", "implementations", "implements",
				"mixes", "deprecated", "author", "copyright", "license", "defaultvalue", "meta", "tutorials", "see", "todo" ]; 

			arrangement.order.forEach(function(entry) { 
					if(entry === "*") { 
							// Get all the default listings that weren't explicitly placed
							var trimmed = defaults.reduce(function(acc, cur) {
									if(arrangement.order.indexOf(cur) === -1) {
											acc.push(cur);
									}
									return acc;
							}, []);

							trimmed.forEach(function(listing) { ?>
									<?js= self.scaffoldPartial(self, data, arrangement, listing) ?>
							<?js }); ?>
					<?js } else { ?>
							<?js= self.scaffoldPartial(self, data, arrangement, entry) ?>
					<?js } ?>
	<?js }); ?>

</dl>