<?js
  var data = obj;
  var self = this;
  // Added
?>

<dl><?js data.forEach(function(c) { ?>
  <dt><?js= self.linkto(c.longname, c.name) ?></dt>
  <dd><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
<?js }); ?></dl>